@font-face {
    font-family: icons;
    src: url(../fonts/icomoon.ttf);
}

@font-face {
    font-family: segoeuil;
    src: url(../fonts/segoeuil.ttf);
}

body {
	margin: 0;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
